#
# ~/.nanorc
# User initialization file for GNU nano
# Tested on: GNU nano version 2.9.3
#


## Editing

# Use auto-indentation
set autoindent

# Use tabs, ever
unset tabstospaces

# Default tab size
set tabsize 4

# Make the Home key smarter
set smarthome

# Use cut to end of line by default
set cut

# Don't wrap text at all
set nowrap

# Enable soft line wrapping
#set softwrap

# Don't add newlines to the ends of files.
set nonewlines


## Interface

# Use bold text instead of reverse video text
set boldtext

# Use the blank line below the titlebar as extra editing space
set morespace

# Don't display the helpful shortcut lists at the bottom of the screen
set nohelp

# Display line numbers to the left of the text area
set linenumbers

# Color combinations for varius UI elements
#set titlecolor    ,black
#set numbercolor   brightblack,white
set selectedcolor black,white
set statuscolor   black,white


## Backups

# Backup files to filename~
#set backup

# Unified backup directory
#set backupdir ""

# Save automatically on exit, don't prompt
#set tempfile


## Searches

# Don't do case sensitive searches
unset casesensitive

# Do extended regular expression searches by default
#set regexp

# Enable ~/.nano_history for saving and reading search/replace strings
set historylog


## Extras

# Enable mouse support, if available
#set mouse

# Use line-by-line scrolling
set smooth

# Detect word boundaries more accurately
unset wordbounds

# Multi-files editing.
# Open new file with ^O, navigate through files with M-, M-.
set multibuffer


## Key bindings

# Key bindings may be reassigned via the following command:
#
#   bind <key> <function> <menu>
#
# Rebinds the key <key> to a new <function> named function in the
# context of menu <menu>.

bind M-W nowrap main

# Autocompletion! O____O
bind ^Space complete main

# Jump to matching bracket
bind ^B findbracket main

# Undo/redo... Windows(TM) style!
bind ^Z undo main
bind ^Y redo main

# Open/save/close file
bind ^O insert main
bind ^S writeout main
bind ^Q exit main

# Search/replace
bind ^F whereis main
bind ^R replace main
bind F3 searchagain main
unbind ^W main

# Multibuffer navigation
#bind ? prevbuf main
#bind ? nextbuf main


## Syntax highlight

# Include syntax file(s) generated by nanorc
#   source: https://github.com/sevenissimo/nanorc

#include "~/.nano/syntax/ALL.nanorc"
