#
# ~/.nanorc
# Personal configuration file for GNU nano 8.0+.
# For the complete list of options, please refer to 'man nanorc.5'
# or see: https://www.nano-editor.org/dist/latest/nanorc.5.html
#


## Editing

# Use auto-indentation (M-I to toggle)
set autoindent

# Use tabs, ever (M-T to toggle)
unset tabstospaces

# Default tab size
set tabsize 4

# Make the Home key smarter (M-H to toggle)
set smarthome

# Use cut-from-cursor-to-end-of-line (M-K to toggle)
set cutfromcursor

# Don't add newlines to the ends of files.
#set nonewlines

## Line wrapping

# Soft line wrapping (default 'nowrap', M-S to toggle)
#set softwrap

# Wrap lines at blank characters (tabs and spaces)
set atblanks


## Interface

# Use bold text instead of reverse video text
set boldtext

# Use the blank line below the titlebar as extra editing space
set emptyline

# Hide commands palette at the bottom of the screen (M-X to toggle)
set nohelp

# Display line numbers to the left of the text area (M-N to toggle)
set linenumbers

# Draw a vertical stripe at the given column
#set guidestripe 80

# Display a "scrollbar" on the right
set indicator

# Minimal UI below edit area.
set minibar

# Some state flags on top-right or in minibar
set stateflags

# Color combinations for varius UI elements
# Syntax: [bold,][italic,]fgcolor,bgcolor
#set titlecolor
#set statuscolor
set promptcolor bold,white,beet
set numbercolor italic,sky
set selectedcolor ,sky
set spotlightcolor ,mint
#set keycolor
#set functioncolor
#set errorcolor
#set stripecolor ,black  # bg only
set minicolor bold,,sky
set scrollercolor gray


## Backups

# Backup files to filename~
#set backup

# Unified backup directory
#set backupdir ""

# Save automatically on exit, don't prompt
#set tempfile


## Searches
## Following toggle shortcuts are available on search menu.

# Case unsensitive searches by default (M-C to toggle)
unset casesensitive

# Extendend RegEx searches by default (M-R to toggle)
#set regexp

# Enable ~/.nano_history for saving and reading search/replace strings
set historylog


## Extras

# Enable mouse support, if available (M-M to toggle)
set mouse

# Treat punctuation characters as parts of words.
set wordbounds

# Multi-files editing.
#	Navigate through buffers with:
#	M ← (or M-<)	M → (or M->))
set multibuffer

# Let Backspace or Delete erase the marked region
set zap


## Key bindings

# Key bindings may be reassigned via the following command:
#   bind <key> <function> <menu>
# Rebinds the key <key> to a new <function> named function in the
# context of menu <menu>.
#
# NOTE:	The format of <key> should be one of: ^[A-Z], M-[A-Z], F[1..24]
#       Since nano 4.8 M-X can be preceded by Sh- modifier (ex. Sh-M-S)
#       But when any Sh-M bind is made, *all of them* became case sensitive
# NOTE: It's not possible to rebind/unbind ^H because its keycode
#       is identical to that of the Backspace key -.-


# Open/save (with prompt)
bind  ^O insert   all
bind  ^S writeout all

# Search/replace
# Since Nano 8.0 ^F is default for forward search, ^B for backward search.
#   M-F for next match and M-B for previous match. ^B is rebinded later.
#   On search menu M-R toggle regex search, M-C case sensitive search.
bind  ^R replace main

# Undo/redo
# Default (and fallback) are: M-U to undo and M-E to redo
bind   ^Z undo all  # Don't break the (bad) habits
#bind M-Z redo all  # Ctrl-Sh-Z would be better (see NOTE #1)

# Cut/paste (kill/yank)
# ^K to kill is default and consistent with Bash Readline
bind  ^Y paste all           # yank!
bind  ^U "A[1~" all    # kill backward, use ^A set-mark
bind  ^C copy main           # copy. DO NOT BIND to menu 'all'
unbind M-6 all               # copy... but why?
bind  ^W "[1;5CA[1;5D" all  # kill prev. word (chopwordleft delete!)
bind M-D "[1;5DA[1;5C" all  # kill next word (chopwordright delete!)

# Autocompletion! O____O
bind ^Space complete all

# Jump to matching bracket
bind  ^B findbracket all

# Verbatim as in Bash Readline
bind  ^V verbatim all  # default is: M-V

# Toggles whether load file into a new empty buffer
# or insert it into the current one (insert/execute)
# Ins → Ins : start insertion and toggle dest.buffer
bind Ins flipnewbuffer insert
bind Ins flipnewbuffer execute
bind Ins flipreplace search
bind Ins flipreplace replace

# Trim from cursor to begin/end of file
#bind  ^T cutrestoffile  all
#bind M-T "a[1;5H" all
unbind M-T all

# ^T Prompts for a program to execute.
# If the command starts with "|", pipe buffer or region to the command

# Upper/lower case line or region
#bind M-U "F|tr '[:lower:]' '[:upper:]'" main
#bind M-L "F|tr '[:upper:]' '[:lower:]'" main

# Move curson a-word-a-time
# Since Nano 8.0 M-F M-B are default for next/prev search match
#bind M-B prevword all
#bind M-F nextword all

# 'Magic quotes', toggle comment
bind M-" """[D" all
bind  ^Q "[1;5D"[1;5C"[D" all
bind M-\ comment all
unbind M-3 all

# Mark as in Bash Readline
bind M-@ mark all   # default is: M-A

# Show/Hide UI elements
bind M-? nohelp all     # default is: M-X
bind M-W wordcount all  # default was: ^C (rebinded)

# Remap some Fn keys
#bind F2 writeout all
#bind F3 savefile all
#bind F4 exit     all
#bind F5 refresh  all


## Syntax highlight

# Include syntax file(s) generated by nanorc
#   source: https://github.com/sevenissimo/nanorc

include "~/.nano/syntax/ALL.nanorc"
