#
# ~/.nanorc
# Personal configuration file for GNU nano
# Tested on: GNU Nano version 4.8
#


## Editing

# Use auto-indentation
set autoindent

# Use tabs, ever
unset tabstospaces

# Default tab size
set tabsize 4

# Make the Home key smarter
set smarthome

# Use cut-from-cursor-to-end-of-line by default
set cutfromcursor

# Don't add newlines to the ends of files.
#set nonewlines

## Line wrapping

# Soft line wrapping (default 'nowrap' since 4.0)
#set softwrap

# Wrap lines at blank characters (tabs and spaces)
set atblanks


## Interface

# Use bold text instead of reverse video text
set boldtext

# Use the blank line below the titlebar as extra editing space
#set morespace # Not working since Nano 5.8

# Don't display the helpful shortcut lists at the bottom of the screen
set nohelp

# Display line numbers to the left of the text area
set linenumbers

# Draw a vertical stripe at the given column
#set guidestripe 80

# Color combinations for varius UI elements
set titlecolor    white
set numbercolor   brightblack
set selectedcolor black,white
set statuscolor   black,white
#set keycolor
#set functioncolor
#set stripecolor  ,black  # bg only


## Backups

# Backup files to filename~
#set backup

# Unified backup directory
#set backupdir ""

# Save automatically on exit, don't prompt
#set tempfile


## Searches

# Don't do case sensitive searches
unset casesensitive

# Do extended regular expression searches by default
#set regexp

# Enable ~/.nano_history for saving and reading search/replace strings
set historylog


## Extras

# Enable mouse support, if available
#set mouse

# Treat punctuation characters as parts of words.
set wordbounds

# Multi-files editing.
# Open new file with ^O, navigate through files with:
#   M ← (M-,)	M → (M-.))
set multibuffer

# Let Backspace or Delete erase the marked region
set zap


## Key bindings

# Key bindings may be reassigned via the following command:
#   bind <key> <function> <menu>
# Rebinds the key <key> to a new <function> named function in the
# context of menu <menu>.
#
# NOTE:	The format of <key> should be one of: ^[A-Z], M-[A-Z], F[1..24]
#       Since nano 4.8 M-X can be preceded by Sh- modifier (ex. Sh-M-S)
#       But when any Sh-M bind is made, *all of them* became case sensitive
# NOTE: It's not possible to rebind/unbind ^H because its keycode
#       is identical to that of the Backspace key -.-


# Open/save (with prompt)
bind ^O insert   all
bind ^S writeout all

# Undo/redo
bind M-- undo all
bind M-_ redo all
bind  ^Z undo all # Don't break the habits
bind M-Z redo all # Ctrl-Sh-Z would be better

# Cut/paste (kill/yank)
bind  ^Y paste all        # yank!
bind  ^U "a[1~" all # kill backward
bind M-D "" all       # kill whole line
bind M-Z "[3;3~" all  # delete whole line*
#bind M-6 copytext all     # copy marked text

# Search/replace
bind  ^R replace all
bind M-R regexp  all

# Autocompletion! O____O
bind ^Space complete all

# Jump to matching bracket
bind ^B findbracket all

# Goto
#bind M-G gotoline all

# Verbatim as in Bash Readline
bind ^V verbatim all

# Toggles whether read file into a new empty buffer
# or insert it into the current one (insert/extcmd)
# Ins → Ins : start insertion and toggle dest.buffer
bind Ins flipnewbuffer insert
#bind Ins flipnewbuffer extcmd

# Trim from cursor to begin/end of file
bind  ^T cutrestoffile  all
bind M-T "a[1;5H" all

# Move a-word-a-time
bind M-B prevword all # [1;3D
bind M-F nextword all # [1;3C

# Comment, count, quote
bind M-/ comment   all
bind M-C wordcount all
bind M-" """[D"  all

# Remap some Fn keys
bind F2 writeout all
bind F3 savefile all
bind F4 exit     all
bind F5 refresh  all


## Syntax highlight

# Include syntax file(s) generated by nanorc
#   source: https://github.com/sevenissimo/nanorc

include "~/.nano/syntax/ALL.nanorc"
